/jasonsanjose.brackets-sass*.zip
/dist
/node_modules
/node/*/node_modules/node-sass/build
/node/*/node_modules/node-sass/node_modules/.bin
/node/*/node_modules/node-sass/node_modules/coveralls
/node/*/node_modules/node-sass/node_modules/cross-spawn
/node/*/node_modules/node-sass/node_modules/jscoverage
/node/*/node_modules/node-sass/node_modules/jshint
/node/*/node_modules/node-sass/node_modules/mocha-lcov-reporter
/node/*/node_modules/node-sass/test
/node/*/node_modules/node-sass-binaries